body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
}

nav .menu ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
}
nav .menu ul li {
	margin: 0 20px;
}
nav .menu ul li a {
	color:#fff;
	text-decoration:none;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
footer {
	margin:0;
	padding: 0;
	align: center;
	display: flex;
	justify-content: center;
	height:60px;

}
footer .footer-content {
	display: flex;
	align:center;
}

